
.icon-looped-square-outline:before { content: '\e800'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */